AddDefaultCharset "utf-8"
<IfModule dir_module>
	Options Indexes FollowSymLinks
    DirectoryIndex index.php
</IfModule>
RewriteEngine On
RewriteBase /
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L,QSA]